<h1 style="        text-align:center;
border-style: solid;
border-color: lightgray;
border-width: 1px;
border-radius: 5px 5px 0px 0px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: -1px;
padding: 5px;"><img src="https://i.ibb.co/VNYMVh1/mstile-150x150.png" width='70px' alt=""><br>SOLICITUD DE COTIZACION</h1>
<div style="        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;">

<p> Estimado(a)  {{ nombre_contacto }}:</p>
<p> Gracias por ponerse en contacto con <b>EPS México</b></p>
<p> Hemos recibido su solicitud y le brindaremos una respuesta en breve.</p>
<p> Reiteramos nuestro compromiso con usted haciéndole saber que si hay algo más en lo que podamos ayudarle, puede solicitarlo contestando a este correo, estamos en la mejor disposición para ayudarle.</p>
  <br><br>

  
<p style="text-align:center;">Atentamente: <br><br>
  <b>Martín Nava Suazo</b></p>
<br>         
<p style="text-align: left">Espacio para el <b>Aviso de Privacidad Reducido</b> <a href="#">Link para el Aviso de Privacidad Integral</a> </p>

<br><br><br>
<p><b>Mensaje Original:</b></p>
<p>{{mensaje_contacto}}</p>
<p><b>Datos de Contacto:</b></p>
<p> {{nombre_contacto}} </p>
<p> {{numero_contacto}} </p>
<p> {{empresa_contacto}} </p>
</div>