{% extends 'base.html' %}

{% block content %}
<section class="clientes-page">
    <div class="fondo-oscuro">
      <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo-titulo" style="margin-left:auto;margin-right:auto;">
                    <div class="headline-pagina">
                     NUESTROS CLIENTES
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="right-title-pagina">
                Productos y servicios de calidad para grandes empresas.
                </div><br>
            </div>
        </div>
      </div>
    </div>
  
</section>
<section id="client1">
    <div class="fondo-oscuro3">
        <div class="container"> <br>
          <div class="texto-descriptivo-white">
            Librería Porrua Monterrey
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div id="client-img1">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img2">
                </div>
            </div>
          </div>
        <div style="margin-top: 40px;">
          <div style="text-align: left;">
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Venta e instalación de 1 UPS de 6kva
            </div>
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              VEnta e instalación de 5 equipos de Aire Acondicionado para agua helada
            </div> 
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Instalación de alumbrado, contactos regulados y cableado de voz y datos
            </div>
          </div>
        </div>
        </div>
    </div>
</section>
<section id="client2">
    <div class="fondo-oscuro3">
        <div class="container"> <br>
          <div class="texto-descriptivo-white">
            Portal San Ángel
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div id="client-img3">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img4">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img5">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img6">
                </div>
            </div>
          </div>
        <div style="margin-top: 40px;">
          <div style="text-align: left;">
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Instalación eléctrica de alumbrado
            </div>
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Canalización y cableado para voz y datos
            </div> 
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Canalización y cableado para CCTV
            </div>
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Instalación de contactos de servicio normal
            </div>
          </div>
        </div>
        </div>
    </div>
</section>
<section id="client3">
    <div class="fondo-oscuro3">
        <div class="container"> <br>
          <div class="texto-descriptivo-white">
            Librería Porrua Chapultepec
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div id="client-img7">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img8">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img9">
                </div>
            </div>
          </div>
        <div style="margin-top: 40px;">
          <div style="text-align: left;">
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Venta e instalación de UPS de 6 kva
            </div>
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Instalación eléctrica de alumbrado y contactos normales y regulados
            </div> 
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Canalización y cableado para voz y datos
            </div>
          </div>
        </div>
        </div>
    </div>
</section>
<section id="client4">
    <div class="fondo-oscuro3">
        <div class="container"> <br>
          <div class="texto-descriptivo-white">
            Karcher México
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div id="client-img10">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img11">
                </div>
            </div>
          </div>
        <div style="margin-top: 40px;">
          <div style="text-align: left;">
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Mantenimiento de equipos de Aire Acondicionado para confort de las oficinas y para el SITE
            </div>
          </div>
        </div>
        </div>
    </div>
</section>
<section id="client5">
    <div class="fondo-oscuro3">
        <div class="container"> <br>
          <div class="texto-descriptivo-white">
            Merchansys
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div id="client-img12">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img13">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img14">
                </div>
            </div>
          </div>
        <div style="margin-top: 40px;">
          <div style="text-align: left;">
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Venta e instalación de un equipo de Aire Acondicionado tipo piso techo de 5 T.R.
            </div>
          </div>
        </div>
        </div>
    </div>
</section>
<section id="client6">
    <div class="fondo-oscuro3">
        <div class="container"> <br>
          <div class="texto-descriptivo-white">
            Oficina Col. Condesa CDMX
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div id="client-img15">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img16">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img17">
                </div>
            </div>
          </div>
        <div style="margin-top: 40px;">
          <div style="text-align: left;">
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Venta e instalación de 9 equipos de Aire Acondicionado tipo Mini-Split de 2 T.R. y 3 T.R.
            </div>
          </div>
        </div>
        </div>
    </div>
</section>
<section id="client7">
    <div class="fondo-oscuro3">
        <div class="container"> <br>
          <div class="texto-descriptivo-white">
            Karcher México
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div id="client-img18">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img19">
                </div>
            </div>
          </div>
        <div style="margin-top: 40px;">
          <div style="text-align: left;">
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Venta e instalación de una planta de emergencia automática de 20 Kw
            </div>
          </div>
        </div>
        </div>
    </div>
</section>
<section id="client8">
    <div class="fondo-oscuro3">
        <div class="container"> <br>
          <div class="texto-descriptivo-white">
            Hospital Nezahualcoyotl
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div id="client-img20">
                </div>
            </div>
            <div class="col-sm-6">
                <div id="client-img21">
                </div>
            </div>
          </div>
        <div style="margin-top: 40px;">
          <div style="text-align: left;">
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Venta de una planta de emergencia automática de 20 Kw a gas L.P.
            </div>
            <div class="bullet-point-white">
              <i class="fas fa-check-circle"></i>
              Mantenimiento preventivo a 3 plantas de emergencia automáticas con motor a gas L.P.
            </div>
          </div>
        </div>
        </div>
    </div>
</section>


{% endblock %}