{% extends 'base.html' %}

{% block content %}

<section class="primera-seccion">
  <div class="fondo-oscuro">
    <div class="container">
      <div class="row">
        <div class="logo-titulo" style="margin-left:auto;margin-right:auto;">
            <div class="headline-pagina">
<!--              <img src="/static/images/uenergy-logo.png" style="width:150px;"alt=""><br>-->
              <span style="color: #ff0202;"></span>SISTEMAS DE ACONDICIONAMIENTO ELECTRICO Y AMBIENTAL S. DE R.L. DE C.V.
            </div>
        </div>
      </div>
      <div class="row">
        <div class="subheadline-pagina">
          SOLUCIONES <br> ELECTRICAS, ELECTRONICAS <br> Y DE ENFRIAMIENTO
        </div>
        </div>
        <div class="row">
            <div class="subsubheadline-pagina">
                A SU SERVICIO
            </div><br>
        </div>
        <div class="row">
            <div class="sec-headline-pagina">
                ¿En qué podemos ayudarle?
            </div>
        </div>
    </div>
  </div>

</section>
<section id="secc-servicios" class="segunda-seccion">
    <div class="fondo-oscuro2">
        <div class="container">
            <div class="row">
                <div class="sec-headline-white">
                    Servicios Profesionales
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                  <div id="plantas" class="cajas-texto">
                    <div class="icon-cajas">
                      <i class="fas fa-bolt"></i>
                    </div>
                    <div class="cajas-texto-estilo">
                    Plantas de Emergencia</div>
                    <div class="cajas-subtexto-estilo" >
                    Venta, Instalacion y Mantenimiento <br>
                    <span style="font-size:25px;">
                      <i class="fas fa-angle-down"></i>
                    </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div id="instalaciones-e" class="cajas-texto">
                      <div class="icon-cajas">
                        <img src="https://i.ibb.co/B4bGtzJ/clavija-rojo.png" style="width:40px;" alt="">
                      </div>
                    <div class="cajas-texto-estilo">
                    Instalaciones Eléctricas</div>
                    <div class="cajas-subtexto-estilo" >
                        Cableado estructurado <br>
                        <span style="font-size:25px;">
                          <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                  </div>
                </div>
            <div class="col-sm-4">
              <div id="aire-a" class="cajas-texto">
                  <div class="icon-cajas">
                    <img src="https://i.ibb.co/nBQnZY2/aire-rojo.png" style="width:40px;" alt="">
                  </div>
                <div class="cajas-texto-estilo">
                Aire Acondicionado</div>
                <div class="cajas-subtexto-estilo" >
                  Venta, Instalacion y Mantenimiento <br>
                  <span style="font-size:25px;">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                  <div id="ups" class="cajas-texto">
                      <div class="icon-cajas">
                        <img src="https://i.ibb.co/HHTrP0J/ups-rojo.png" style="width:40px;" alt="">
                      </div>
                    <div class="cajas-texto-estilo">
                    UPS's</div>
                    <div class="cajas-subtexto-estilo" >
                        Venta, Instalacion y Mantenimiento <br>
                        <span style="font-size:25px;">
                          <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                  </div i>
                </div>
                <div class="col-sm-4">
                  <div id="reguladores" class="cajas-texto">
                    <div class="icon-cajas">
                        <img src="https://i.ibb.co/RpMLQQD/regulador-rojo.png" style="width:40px;" alt="">
                    </div>
                    <div class="cajas-texto-estilo">
                        Reguladores de Voltaje</div>
                    <div class="cajas-subtexto-estilo" >
                        Venta, Instalacion y Mantenimiento <br>
                        <span style="font-size:25px;">
                          <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
            <!-- <div class="col-sm-4">
              <div class="cajas-texto">
                <p class="cajas-texto-estilo">
                Sistemas de Aire Acondicionado</p>
                <div class="icon-cajas">
                  <img src="https://i.ibb.co/N2ZxtWs/aire-acondicionado.png" style="width:40px;" alt="">
                </div>
              </div>
            </div> -->
            </div>
        </div>
    </div>
</section>

<section class="tercera-seccion">
    <div class="fondo-oscuro2">
        <div class="container">
            <div class="row">
                <h3 class="sec-headline-white">
                    Damos Servicio a Grandes Corporativos
                </h3>
            </div>
            <div class="">
                <div class="texto-descriptivo-white">
                    El compromiso y calidad en el servicio que brindamos superan las espectativas de nuestros clientes
                </div>
            </div>
            <div class="">
                <a href="/clientes" style="width: 100%;">
                  <div id="header-top"></div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="secc-plantas" class="plantas-emergencia">
  <div class="fondo-oscuro3">
      <div class="container">
        <img class="arrow-top" src="/static/images/arrow.svg" alt="scroll to top arrow">
        <div class="row">
          <h3 class="sec-headline-white">
              Plantas de Emergencia
          </h3>
        </div>
        <div class="texto-descriptivo-white">
          Uenergy le ofrece Plantas Eléctricas manuales y automáticas desde 27Kw hasta 500Kw de capacidad en 220vac o 440vac tanto a Gas (GN/LP) como a  Diesel.
        </div>
        <div class="img-container">
          <img src="/static/images/generac-power.png" class="img-fluid" alt="">
        </div>
        <!-- <div style="text-align: left;">
          <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Entrega a domicilio a pie de camión en D.F.  y Área Metropolitana, sin cargo.
          </div>
          <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Puesta en marcha y pruebas de operación sin cargo.
          </div> 
          <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Garantía de un año por defectos de fabricación y un servicio de mantenimiento preventivo gratuito, durante la vigencia de la garantía.
          </div>
        </div> -->
        <div class="row">
          <div class="col-sm-6">
            <a href="/plantas/#venta" class="button-texto" style="text-decoration: none">
              <div class="icon-button">
                <!-- <img src="https://i.ibb.co/sPd4VTN/image-2.png" style="width:40px;" alt=""> -->
                <i class="fas fa-handshake"></i>
              </div>
              <div class="button-texto-estilo">
              VENTA E INSTALACION</div>
              <div class="button-subtexto-estilo" >
                Entrega a domicilio a pie de camión en D.F. y Área Metropolitana, sin cargo.  Garantía de un año por defectos de fabricación.
              </div>
            </a> <br>

          </div>
          <div class="col-sm-6">
            <a href="/plantas/#mantenimiento" class="button-texto" style="text-decoration: none">
              <div class="icon-button">
                <!-- <img src="https://i.ibb.co/sPd4VTN/image-2.png" style="width:40px;" alt=""> -->
                <i class="fas fa-wrench"></i>
              </div>
            <div class="button-texto-estilo">
            MANTENIMIENTO INTEGRAL</div>
            <div class="button-subtexto-estilo" >
            Pólizas de mantenimiento periódicas, para asegurar que su generador siempre esté en óptimas condiciones de operación.
            </div>
          </a>
          </div>
        </div>
      </div>
  </div>
</section>
<section id="secc-inst">
  <div class="fondo-oscuro3">
    <div class="container">
      <img class="arrow-top" src="/static/images/arrow.svg" alt="scroll to top arrow">
      <div class="row">
        <div class="sec-headline-white">
            Instalaciones Eléctricas
        </div>
      </div>
      <div>
        <div class="texto-descriptivo-white">
          <!-- Ponemos a su disposición instalaciones eléctricas de alumbrado, contactos normales y regulados, para oficinas, comercios y uso doméstico. -->
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="cajas-texto-black">
              <div class="icon-cajas" style="margin-bottom: 40px;">
                <img src="/static/images/foco-white.png" style="width:50px;" alt="">
              </div>
              <div class="button-texto-estilo-white">
                Alumbrado Interior y Exterior</div>
                <div class="cajas-subtexto-estilo" >
                    <!-- Instalaciones de Alumbrado <br> -->
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="cajas-texto-black">
              <div class="icon-cajas" style="margin-bottom: 40px;">
                <img src="/static/images/contacto-white.png" style="width:50px;" alt="">
              </div>
              <div class="button-texto-estilo-white">
                Contactos normales y regulados</div>
                <div class="cajas-subtexto-estilo" >
                    <!-- Instalaciones de Alumbrado <br> -->
                </div>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="cajas-texto-black">
              <div class="icon-cajas" style="margin-bottom: 40px;">
                <img src="/static/images/oficina-white.png" style="width:50px;" alt="">
              </div>
              <div class="button-texto-estilo-white">
                Oficinas, Comercios y Uso Doméstico</div>
                <div class="cajas-subtexto-estilo" >
                    <!-- Instalaciones de Alumbrado <br> -->
                </div>
            </div>
          </div>
          <!-- <div class="col-sm-3">
            <div class="icon-cajas">
              <img src="https://image.flaticon.com/icons/svg/841/841743.svg" style="width:50px;" alt="">
            </div>
            <div class="cajas-texto-estilo-black">
              Alumbrado</div>
              <div class="cajas-subtexto-estilo-black" >
                  Instalaciones de Alumbrado <br>
                  <span style="font-size:25px;">
                    <i class="fas fa-angle-down"></i>
                  </span>
              </div>
          </div> -->
        </div>
        <div class="row">
          <a href="/instalaciones" class="button-texto" style="text-decoration: none; max-width: 380px; margin-top: 70px;z-index: 1;">
            <div class="icon-button">
              <!-- <img src="https://i.ibb.co/sPd4VTN/image-2.png" style="width:40px;" alt=""> -->
              <i class="fas fa-briefcase"></i>
            </div>
            <div class="button-texto-estilo">
            INSTALACIONES PROFESIONALES</div>
            <div class="button-subtexto-estilo" >
              Le ofrecemos una instalación basada en el cumplimiento estricto de las normas actuales 
            </div>
          </a> 
        </div>
      </div>
    </div>
  </div>
</section>

<section id="secc-aire">
  <div class="fondo-oscuro3">
    <div class="container">
      <img class="arrow-top" src="/static/images/arrow.svg" alt="scroll to top arrow">
      <div class="row">
        <div class="sec-headline-white">
            Aire Acondicionado
        </div>
      </div>
      <div>
        <div class="texto-descriptivo-white">
          Contamos con mano de obra calificada para la instalación y mantenimiento en toda el área de climatización doméstica y comercial.
        </div>
        <div class="img-container">
          <img src="/static/images/air-acond.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="texto-descriptivo-white">
        Desde equipos con décadas de servicio hasta lo más novedoso en tecnologías de aire acondicionado y ventilación, contamos con el conocimiento y la experiencia para darle servicio de manera correcta.
      </div>
      <div class="row">
        <div class="col-sm-6">
          <!-- <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Entrega a domicilio a pie de camión en D.F.  y Área Metropolitana, sin cargo.
          </div>
          <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Puesta en marcha y pruebas de operación sin cargo.
          </div>
          <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Garantía de un año por defectos de fabricación y un servicio de mantenimiento preventivo gratuito, durante la vigencia de la garantía.
          </div> -->
          <a href="/aire/#venta" class="button-texto" style="text-decoration: none">
            <div class="icon-button">
              <!-- <img src="https://i.ibb.co/sPd4VTN/image-2.png" style="width:40px;" alt=""> -->
              <i class="fas fa-handshake"></i>
            </div>
            <div class="button-texto-estilo">
            VENTA E INSTALACION</div>
            <div class="button-subtexto-estilo" >
              Entrega a domicilio a pie de camión en D.F. y Área Metropolitana, sin cargo.  Garantía de un año por defectos de fabricación.
            </div>
          </a> <br>

        </div>
        <div class="col-sm-6">
          <a href="/aire/#mantenimiento" class="button-texto" style="text-decoration: none">
            <div class="icon-button">
              <!-- <img src="https://i.ibb.co/sPd4VTN/image-2.png" style="width:40px;" alt=""> -->
              <i class="fas fa-wrench"></i>
            </div>
          <div class="button-texto-estilo">
          MANTENIMIENTO INTEGRAL</div>
          <div class="button-subtexto-estilo" >
          Pólizas de mantenimiento periódicas, para asegurar que su generador siempre esté en óptimas condiciones de operación.
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="secc-ups">
  <div class="fondo-oscuro3">
    <div class="container">
      <img class="arrow-top" src="/static/images/arrow.svg" alt="scroll to top arrow">
      <div class="row">
        <h3 class="sec-headline-white">
            UPS's
        </h3>
      </div>
      <div class="texto-descriptivo-white">
        Ponemos a su disposición la nueva línea de no-breaks interactivos marca <strong>jheta</strong>, ideales para proteger cualquier equipo que requiera tensión regulada y soporte contra fallas de energía.
      </div>
      <div class="img-container">
        <img src="/static/images/ups.png" class="img-fluid" alt="">
      </div>
      <div class="row">
        <div class="col-sm-6">
          <!-- <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Entrega a domicilio a pie de camión en D.F.  y Área Metropolitana, sin cargo.
          </div>
          <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Puesta en marcha y pruebas de operación sin cargo.
          </div>
          <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Garantía de un año por defectos de fabricación y un servicio de mantenimiento preventivo gratuito, durante la vigencia de la garantía.
          </div> -->
          <a href="/ups/#venta" class="button-texto" style="text-decoration: none">
            <div class="icon-button">
              <!-- <img src="https://i.ibb.co/sPd4VTN/image-2.png" style="width:40px;" alt=""> -->
              <i class="fas fa-handshake"></i>
            </div>
            <div class="button-texto-estilo">
            VENTA E INSTALACION</div>
            <div class="button-subtexto-estilo" >
              Entrega a domicilio a pie de camión en D.F. y Área Metropolitana, sin cargo.  Garantía de un año por defectos de fabricación.
            </div>
          </a> <br>

        </div>
        <div class="col-sm-6">
          <a href="/ups/#mantenimiento" class="button-texto" style="text-decoration: none">
            <div class="icon-button">
              <!-- <img src="https://i.ibb.co/sPd4VTN/image-2.png" style="width:40px;" alt=""> -->
              <i class="fas fa-wrench"></i>
            </div>
          <div class="button-texto-estilo">
          MANTENIMIENTO INTEGRAL</div>
          <div class="button-subtexto-estilo" >
          Pólizas de mantenimiento periódicas, para asegurar que su generador siempre esté en óptimas condiciones de operación.
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>  
</section>

<section id="secc-reguladores">
  <div class="fondo-oscuro3">
    <div class="container">
      <img class="arrow-top" src="/static/images/arrow.svg" alt="scroll to top arrow">
      <div class="row">
        <h3 class="sec-headline-white">
            Reguladores de Voltaje
        </h3>
      </div>
      <div class="texto-descriptivo-white">
        Proteja sus equipos electrónicos con una rápida velocidad de respuesta, alta eficiencia, bajo ruido y una excelente filtración de ruido eléctrico.
      </div>
      <div class="img-container">
        <img src="/static/images/vogar-reg.png" class="img-fluid" style="max-height: 350px;" alt="">
        <img src="/static/images/vogar-brand.png" class="img-fluid" width="200px" alt="">
      </div>
      <div class="row">
        <div class="col-sm-6">
          <!-- <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Entrega a domicilio a pie de camión en D.F.  y Área Metropolitana, sin cargo.
          </div>
          <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Puesta en marcha y pruebas de operación sin cargo.
          </div>
          <div class="bullet-point-white">
            <i class="fas fa-check-circle"></i>
            Garantía de un año por defectos de fabricación y un servicio de mantenimiento preventivo gratuito, durante la vigencia de la garantía.
          </div> -->
          <a href="/reguladores/#venta" class="button-texto" style="text-decoration: none">
            <div class="icon-button">
              <!-- <img src="https://i.ibb.co/sPd4VTN/image-2.png" style="width:40px;" alt=""> -->
              <i class="fas fa-handshake"></i>
            </div>
            <div class="button-texto-estilo">
            VENTA E INSTALACION</div>
            <div class="button-subtexto-estilo" >
              Entrega a domicilio a pie de camión en D.F. y Área Metropolitana, sin cargo.  Garantía de un año por defectos de fabricación.
            </div>
          </a> <br>

        </div>
        <div class="col-sm-6">
          <a href="/reguladores/#mantenimiento" class="button-texto" style="text-decoration: none">
            <div class="icon-button">
              <!-- <img src="https://i.ibb.co/sPd4VTN/image-2.png" style="width:40px;" alt=""> -->
              <i class="fas fa-wrench"></i>
            </div>
          <div class="button-texto-estilo">
          MANTENIMIENTO INTEGRAL</div>
          <div class="button-subtexto-estilo" >
          Pólizas de mantenimiento periódicas, para asegurar que su generador siempre esté en óptimas condiciones de operación.
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>  
</section>


<script src="/static/scripts/homescripts.js"></script>

{% endblock %}
