<nav
  class="navbar fixed-top navbar-expand-lg navbar-light"
  style="background-color: #ffcc00;"
>
  <a class="navbar-brand" href="/">
    <img
      src="/static/images/uenergy-logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    <span style="font-family: 'Roboto', cursive;">
      &nbsp;<span style="color: #ff0202;">u</span>energy</span
    >
  </a>
  <a class="navbar-brand" id="button-contact" style="cursor: pointer;">
    <span class="buenfin-bar" style="text-align: center;">
      <i class="fas fa-phone"></i>
    </span>
    <span
      style="font-family: 'Roboto', cursive; font-size: 15px;"
      class="unselectable"
    >
      CONTACTO</span
    >
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plantas/">Plantas de Emergencia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aire/">Aire Acondicionado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ups/">UPS's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reguladores/">Reguladores de Voltaje</a>
      </li>
      <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
    </ul>
  </div>
</nav>
